div(class="row")
    div(class="col-lg-12")
        div(class="page-header chart")
            h1 About
        
        p(class="lead")
            | Originally, this began as a home server/personal dashboard project for my Raspberry Pi: 
            a(href="https://github.com/projectweekend/Pi-Holly", target="_blank") Pi-Holly
            | . It ran tucked away in a corner serving up data from indoor temperature/humidity sensors and arrival times at my favorite CTA bus stops on my local network.
            | I love the Pi, but as the project grew, it needed a little more power under the hood.
            | So I took out a few Raspberry Pi specific components, and re-launched it simply as 
            strong Holly
            | . 
        
        p(class="lead")    
            | Eventually, I started working on a major overhaul to the 
            a(href="https://github.com/projectweekend/Pi-Red-Dwarf", target="_blank") sensor modules 
            | that were being used to collect and report data.
            | While doing that, I decided to give this project a fresh start too, taking it in a new direction. 
            strong Holly 
            | is 100% JavaScript from the server to the browser and all the code is publicly available on Github: 
            a(href="https://github.com/projectweekend/Holly", target="_blank") https://github.com/projectweekend/Holly
            | .

        p(class="lead")
            | The indoor temperature, humidity, and barometric pressure data that is being displayed on this site is collected and transmitted using two other projects: 
            a(href="https://github.com/projectweekend/Pi-Red-Dwarf", target="_blank") Pi-Red-Dwarf 
            | & 
            a(href="https://github.com/projectweekend/Ar-Starbug", target="_blank") Ar-Starbug
        
        div
            iframe(id="contact-card", src="http://lab.lepture.com/github-cards/card.html?user=projectweekend", frameborder="0", scrolling="0", width="400", height="200", allowtransparency)
