section
    h2 Home
    p Nothing to see here...yet...
    p Temperature: {{ SensorReading.data.temp_f }}
    p Humidity: {{ SensorReading.data.humidity }}
    p Pressure: {{ SensorReading.data.pressure }}
