div(class="row")
    div(class="col-lg-12 chart")
        div(class="page-header")
            h1 Home

div(class="row")
    div(class="col-md-3 latest")
        h3(class="reading-title") Temperature
        p(class="reading") {{ SensorReading.data.temp_f }}&deg; F
    div(class="col-md-3 latest")
        h3(class="reading-title") Humidity
        p(class="reading") {{ SensorReading.data.humidity }}%
    div(class="col-md-3 latest")
        h3(class="reading-title") Pressure
        p(class="reading") {{ SensorReading.data.pressure }} hPa
    div(class="col-md-3 latest")
        h3(class="reading-title") Raspberry Pi
        p(class="reading") {{ RaspberryPi.data.temp_f }}&deg; F        
