div(class="row")
    div(class="col-lg-12 chart")
        div(class="page-header")
            h1 Home

div(class="row")
    div(class="col-md-4 latest")
        h4 Temperature
        p {{ SensorReading.data.temp_f }}
    div(class="col-md-4 latest")
        h4 Humidity
        p {{ SensorReading.data.humidity }}
    div(class="col-md-4 latest")
        h4 Pressure
        p {{ SensorReading.data.pressure }}
