div(class="row")
    div(class="col-lg-12 chart")
        div(class="page-header")
            h1 Home

div(class="row")
    div(class="col-md-3 latest")
        h3(class="reading-title") Indoor Temperature
        p(class="reading") {{ SensorReading.data.temp_f }}&deg; F
    div(class="col-md-3 latest")
        h3(class="reading-title") Indoor Humidity
        p(class="reading") {{ SensorReading.data.humidity }}%
    div(class="col-md-3 latest")
        h3(class="reading-title") Indoor Pressure
        p(class="reading") {{ SensorReading.data.pressure }} hPa
    div(class="col-md-3 latest")
        h3(class="reading-title") Raspberry Pi
        p(class="reading") {{ RaspberryPi.data.temp_f }}&deg; F    

hr

div(class="row")
    div(class="col-md-4 centered")
        skycon(icon="Weather.currently.icon", size="Weather.currently.iconSize")

    div(class="col-md-8")
