div(class="row")
    div(class="col-lg-12 chart")
        div(class="page-header")
            h1 Home

div(class="row")
    div(class="col-md-3 latest")
        h3(class="reading-title") Indoor Temperature
        p(class="reading") {{ SensorReading.data.temp_f }}&deg; F
    div(class="col-md-3 latest")
        h3(class="reading-title") Indoor Humidity
        p(class="reading") {{ SensorReading.data.humidity }}%
    div(class="col-md-3 latest")
        h3(class="reading-title") Indoor Pressure
        p(class="reading") {{ SensorReading.data.pressure }} hPa
    div(class="col-md-3 latest")
        h3(class="reading-title") Raspberry Pi
        p(class="reading") {{ RaspberryPi.data.temp_f }}&deg; F    

hr

div(class="row")
    div(class="col-md-4 centered")
        skycon(icon="Weather.currently.icon", size="Weather.currently.iconSize")

    div(class="col-md-8")
        h2 {{ Weather.currently.summary }} 
            small {{ Weather.currently.time | date:'short' }}
        p(class="lead") {{ Weather.hourly.summary }}
        div(class="row")
            div(class="col-md-6 weather-details")
                div(class="detail-item") 
                    span Temperature: 
                    span(class="data") {{ Weather.currently.temperature }}&deg; F
                div(class="detail-item") 
                    span Humidity: 
                    span(class="data") {{ Weather.currently.humidity }}%
                div(class="detail-item") 
                    span Wind: 
                    span(class="data") {{ Weather.currently.windSpeed }} MPH

            div(class="col-md-6 weather-details")
                div(class="detail-item") 
                    span Feels Like: 
                    span(class="data") {{ Weather.currently.apparentTemperature }}&deg; F
                div(class="detail-item") 
                    span Dew Point: 
                    span(class="data") {{ Weather.currently.dewPoint }}&deg; F
                div(class="detail-item") 
                    span Bearing: 
                    span(class="data") {{ Weather.currently.windBearing }}

hr
                

