div(class="row")
    div(class="col-lg-12 chart")
        div(class="page-header")
            h1 Average Temperatures: &deg;F
        ul(class="nav nav-pills nav-justified")
          li(ng-class="activeChart('weekly')")
            a(ng-click="weekly()") Weekly
          li(ng-class="activeChart('monthly')")
            a(ng-click="monthly()") Monthly
          li(ng-class="activeChart('yearly')")
            a(ng-click="yearly()") Yearly       
        canvas(barchart, resize, data="SensorStatsChart.data")
