ul(class="nav nav-tabs nav-justified")
  li(ng-class="activeChart('/temperature/average/weekly')")
    a(href="#/temperature/average/weekly") Weekly
  li(ng-class="activeChart('/temperature/average/monthly')")
    a(href="#/temperature/average/monthly") Monthly
  li(ng-class="activeChart('/temperature/average/yearly')")
    a(href="#/temperature/average/yearly") Yearly        
