div(class="row")
    div(class="col-lg-12 chart")
        div(class="page-header")
            h1 Weekly Averages: &deg;F
        include ./temperature-average-menu.jade
        //- canvas(linechart, resize, data="SensorChart.data")
