html(lang="en", ng-app="myApp")
    head
        title= Holly
        script(src="bower_components/platform/platform.js")
        link(rel="stylesheet", href="bower_components/html5-boilerplate/css/normalize.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/custom.css")
        link(rel="import", href="bower_components/core-toolbar/core-toolbar.html")
        link(rel="import", href="bower_components/core-menu/core-menu.html")
        link(rel="import", href="bower_components/core-item/core-item.html")
        link(rel="import", href="bower_components/core-header-panel/core-header-panel.html")
        link(rel="import", href="bower_components/core-drawer-panel/core-drawer-panel.html")
        link(rel="import", href="bower_components/core-icons/core-icons.html")
        link(rel="import", href="bower_components/core-icon-button/core-icon-button.html")            
        link(rel="import", href="bower_components/paper-icon-button/paper-icon-button.html")


    body(fullbleed, unresolved)

        core-drawer-panel(id="drawerPanel", responsiveWidth="10000px")

            core-header-panel(drawer)
                core-toolbar(id="navheader")
                    span Menu
                core-menu
                    core-item(label="Home")
                        a(href="#/home", target="_self")                    
                    core-item(label="Temperature")
                        a(href="#/temperature", target="_self")
                    core-item(label="Humidity")
                        a(href="#/humidity", target="_self")
                    core-item(label="Pressure")
                        a(href="#/pressure", target="_self")
                    core-item(label="Raspberry Pi")
                        a(href="#/raspberry-pi", target="_self")                            
                    core-item(label="About")
                        a(href="#/about", target="_self")

            core-header-panel(main)
                core-toolbar(id="mainheader")
                    paper-icon-button(id="navicon", icon="menu")
                    span(flex) Holly
                div(id="compatibility-warning", ng-controller="Compatibility")
                    div(ng-if="notChrome", class="container-fluid")
                        div(class="row")
                            div(class="col-md-12")        
                                div(class="alert alert-danger")
                                    strong Hey! 
                                    | This site uses some newer technologies that currently work best in Google's Chrome browser. 
                                    | If you don't already have Chrome, you can download it 
                                    a(href="https://www.google.com/intl/en-US/chrome/browser/", target="_blank") here
                                    | .
                div(ng-view, class="container-fluid")

        script(src="bower_components/angular/angular.js")
        script(src="bower_components/angular-route/angular-route.js")
        script(src="bower_components/nnnick-chartjs/Chart.min.js")
        script(src="bower_components/angles/angles.js")
        script(src="js/app.js")
        script(src="js/services.js")
        script(src="js/controllers.js")
        script(src="js/directives.js")
        script(src="js/polymer-menu.js")

