a {
    color: #2662AD;
}

core-header-panel {
  background: white;
}

core-toolbar, #navheader {
  background-color: #2662AD;
  color: white;
}

#navicon {
    fill: white;
}

.chart {
    width: 100%;
    text-align: center;
}

.latest,
.centered {
    text-align: center;
}

.reading-title,
.weather-details .data {
    color: #FFA500;
}

.reading {
    font-size: 2em;
}

section.about {
    font-size: 1.25em;
}

#compatibility-warning {
    margin-top: 20px;
}

.weather-details {
    font-size: 1.5em;
}

.weather-details .detail-item {
    margin-bottom: 10px;
}

.weather-details .data {
    font-weight: bold;
}
