core-header-panel {
  background: white;
}

core-toolbar, #navheader {
  background-color: #2662AD;
  color: white;
}

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

#navicon {
    fill: white;
}

.view-wrapper {
    padding: 20px;
}

section.chart {
    width: 100%;
    text-align: center;
}
