/* app css stylesheet */
.clickable {
    cursor: pointer;
}

.system-config-value,
.temp-stat-value {
  font-size: 1.75em;
}

.system-config-wrapper,
.temp-stat-wrapper {
    margin-bottom: 10px;
}

.chart-spacer {
    height: 30px;
}

.article-img-wrapper {
    margin-bottom: 10px;
}

#hue-lighting-control,
#bus-stop-config,
#l-stop-config {
    margin-top: 60px;
}

.brightness-control {
    margin-top: 10px;
}

.brightness-slider {
    width: 100%;
}

.bus-stop {
    margin-bottom: 50px;
}


.stats-panel .stats-panel-options {
    margin-bottom: 15px;
}

.stat-wrapper {
    display: table;
    width: 100%;
    font-size: 2em;
}

.stat-wrapper > .stat-label,
.stat-wrapper > .stat-value {
    width: 50%;
    float: left;
    padding: 2.33%;
}

.stat-wrapper > .stat-value {
    text-align: right
}

.system-message {
    height: 100px;
    margin-bottom: 20px;
}

.system-message .system-message-label {
    font-weight: bold;
}

.current-weather .summary {
    font-size: 4.5em;
}

.current-weather .whole-box {
    float: left;
    width: 100%;
    font-size: 2em;
}

.current-weather .half-box {
    float: left;
    width: 50%;
    font-size: 2em;
}

.todays-weather .hourly-weather {
    
}

