div(class="row")
  h1 News Sources
  div(class="col-xs-12")
    form(id="news-source", role="form")
      div(class="form-group")
        label Source URL
        input(ng-model="newsSourceConfig.editing.url", class="form-control", type="url", required)
      div(class="btn-toolbar")
        button(ng-click="newsSourceConfig.save()", class="btn btn-primary") Save
        button(ng-click="newsSourceConfig.cancel()", class="btn btn-default") Cancel
    br

div(class="row")
  div(class="col-xs-12")
    table(class="table")
      thead
        tr
          th URL
          th Date Added
          th Edit
          th Delete
      tbody
        tr(ng-repeat="s in newsSourceConfig.sources")
          td 
            a(ng-href="{{ s.url }}", target="_blank") {{ s.url }}
          td {{ s.date | date }}
          td
            span(ng-click="newsSourceConfig.edit(s)", class="glyphicon glyphicon-pencil text-primary clickable")
          td
            span(ng-click="newsSourceConfig.remove(s._id)", class="glyphicon glyphicon-remove text-danger clickable")

div(class="row")
  h1 System Variables
  div(class="col-xs-12")
    form(id="system-variables", role="form")
      div(class="row")
        div(class="col-xs-6")
          div(class="form-group")
            label Key
            input(ng-model="variablesConfig.editing.config_key", type="text", class="form-control", required)
        div(class="col-xs-6")
          div(class="form-group")
            label Value
            input(ng-model="variablesConfig.editing.config_value", type="text", class="form-control", required)
      div(class="btn-toolbar")
        button(ng-click="variablesConfig.save()", class="btn btn-primary") Save
        button(ng-click="variablesConfig.cancel()", class="btn btn-default") Cancel      
    br

div(class="row")
  div(class="col-xs-12")
    table(class="table")
      thead
        tr
          th Key
          th Value
          th Edit
          th Delete
      tbody
        tr(ng-repeat="v in variablesConfig.variables")
          td {{ v.config_key }} 
          td {{ v.config_value }}
          td
            span(ng-click="variablesConfig.edit(v)", class="glyphicon glyphicon-pencil text-primary clickable")
          td
            span(ng-click="variablesConfig.remove(v._id)", class="glyphicon glyphicon-remove text-danger clickable")

div(class="row")
  h1 Auto Light Settings
  div(class="col-md-4")
    form(id="auto-light-timing")
      h4 Disabled Schedule
      div(class="row")
        div(class="col-xs-6")
          div(class="form-group")
            label Start Hour
            input(ng-model="nova5.configuration.system_options.disabled_time_start.hour", ng-change="nova5.save()", class="form-control", type="number", min="0", max="23", step="1")
        div(class="col-xs-6")
          div(class="form-group")
            label End Hour
            input(ng-model="nova5.configuration.system_options.disabled_time_end.hour", ng-change="nova5.save()", class="form-control", type="number", min="0", max="23", step="1")
  div(class="col-md-4")
    form(id="auto-light-selection")
      h4 Light Selection
      div(ng-repeat="l in nova5.hue.lights", class="form-group")
        div(class="btn-toolbar")
          a(ng-if="nova5.lightIsSelected(l.id)", ng-click="nova5.removeLight(l.id)", class="btn btn-block btn-danger") Remove {{ l.name }} light
          a(ng-if="!nova5.lightIsSelected(l.id)", ng-click="nova5.includeLight(l.id)", class="btn btn-block btn-success") Include {{ l.name }} light

  div(class="col-md-4")
    form(id="auto-light-misc")
      h4 Miscellaneous
      div(class="form-group")
        div(class="btn-toolbar")
          a(ng-if="nova5.configuration.system_options.manually_disabled", ng-click="nova5.enableAutoLighting()", class="btn btn-block btn-success") Enable Auto Lighting
          a(ng-if="!nova5.configuration.system_options.manually_disabled", ng-click="nova5.disableAutoLighting()", class="btn btn-block btn-danger") Disable Auto Lighting
      div(class="form-group")
        label Luminosity Threshold
        input(ng-model="nova5.configuration.system_options.luminosity_threshold", ng-change="nova5.save()", class="form-control", type="number", min="0", max="50", step=".25")
