div(class="row")
  h1 News Sources
  div(class="col-xs-12")
    form(id="news-source", role="form")
      div(class="form-group")
        label Source URL
        input(ng-model="newsSourceConfig.editing.url", class="form-control", type="url", required)
      div(class="btn-toolbar")
        button(ng-click="newsSourceConfig.save()", class="btn btn-primary") Save
        button(ng-click="newsSourceConfig.cancel()", class="btn btn-default") Cancel
    br

div(class="row")
  div(class="col-xs-12")
    table(class="table")
      thead
        tr
          th URL
          th Date Added
          th Edit
          th Delete
      tbody
        tr(ng-repeat="s in newsSourceConfig.sources")
          td 
            a(ng-href="{{ s.url }}", target="_blank") {{ s.url }}
          td {{ s.date | date }}
          td
            span(ng-click="newsSourceConfig.edit(s)", class="glyphicon glyphicon-pencil text-primary clickable")
          td
            span(ng-click="newsSourceConfig.remove(s._id)", class="glyphicon glyphicon-remove text-danger clickable")

div(class="row")
  h1 System Variables
  div(class="col-xs-12")
    form(id="system-variables", role="form")
      div(class="row")
        div(class="form-group")
          div(class="col-xs-6")
            label Name
            input(type="text", class="form-control", required)
          div(class="col-xs-6")
            label Value
            input(type="text", class="form-control", required)
      div(class="btn-toolbar")
        button(ng-click="variablesConfig.save()", class="btn btn-primary") Save
        button(ng-click="variablesConfig.cancel()", class="btn btn-default") Cancel        
    br

div(class="row")
  div(class="col-xs-12")
    table(class="table")
      thead
        tr
          th Key
          th Value
          th Edit
          th Delete
      tbody
        tr(ng-repeat="v in variablesConfig.variables")
          td {{ v.config_key }} 
          td {{ v.config_value }}
          td
            span(ng-click="variablesConfig.edit(v)", class="glyphicon glyphicon-pencil text-primary clickable")
          td
            span(ng-click="variablesConfig.remove(v._id)", class="glyphicon glyphicon-remove text-danger clickable")        
