div(class="row")

  div(class="page-header")
    h1 Temperature: 
      span(class="text-primary") {{indoorTemperatureCurrent.values.fahrenheit | number:2}}&deg; F

  div(class="col-md-8")
    div(class="chart-wrapper")
      canvas(chart, id="temperatureChart", type="Line", options="indoorTemperatureReporting.chart.options", data="indoorTemperatureReporting.chart.data", width="700", height="350")

  div(class="col-md-4")
    div(class="stats-panel")
      
      div(class="stats-panel-options btn-group btn-group-justified")
        a( ng-click="indoorTemperatureStats.getValues('today')", ng-class="{ active: indoorTemperatureStats.values.label == 'Today' }", class="btn btn-default") Today
        a( ng-click="indoorTemperatureStats.getValues('week')", ng-class="{ active: indoorTemperatureStats.values.label == 'Last 7 Days' }", class="btn btn-default") 7 Days
        a( ng-click="indoorTemperatureStats.getValues('month')", ng-class="{ active: indoorTemperatureStats.values.label == 'Last 30 Days' }", class="btn btn-default") 30 Days
        a( ng-click="indoorTemperatureStats.getValues('overall')", ng-class="{ active: indoorTemperatureStats.values.label == 'Overall' }", class="btn btn-default") Overall
      
      div(ng-if="indoorTemperatureStats.loadingValues && !indoorTemperatureStats.loadingError", class="alert alert-info")
        strong Calculating stats...
      
      div(ng-if="!indoorTemperatureStats.loadingValues && indoorTemperatureStats.loadingError", class="alert alert-danger")
        strong Something went wrong...        
      
      div(ng-if="!indoorTemperatureStats.loadingValues && !indoorTemperatureStats.loadingError", class="stat-wrapper")
        div(class="stat-label") Average:
        div(class="stat-value")
          span(ng-hide="indoorTemperatureStats.values.average.fahrenheit == 'No data'", class="text-primary") {{indoorTemperatureStats.values.average.fahrenheit | number:2}}&deg; F
          span(ng-show="indoorTemperatureStats.values.average.fahrenheit == 'No data'", class="text-primary") No data
      
      hr
      
      div(ng-if="!indoorTemperatureStats.loadingValues && !indoorTemperatureStats.loadingError", class="stat-wrapper")
        div(class="stat-label") High:
        div(class="stat-value") 
          span(ng-hide="indoorTemperatureStats.values.max.fahrenheit == 'No data'", class="text-primary") {{indoorTemperatureStats.values.max.fahrenheit | number:2}}&deg; F
          span(ng-show="indoorTemperatureStats.values.max.fahrenheit == 'No data'", class="text-primary") No data
      
      hr
      
      div(ng-if="!indoorTemperatureStats.loadingValues && !indoorTemperatureStats.loadingError", class="stat-wrapper")
        div(class="stat-label") Low:
        div(class="stat-value")        
          span(ng-hide="indoorTemperatureStats.values.min.fahrenheit == 'No data'", class="text-primary") {{indoorTemperatureStats.values.min.fahrenheit | number:2}}&deg; F
          span(ng-show="indoorTemperatureStats.values.min.fahrenheit == 'No data'", class="text-primary") No data

div(class="row")

  div(class="page-header")
    h1 Humidity: 
      span(class="text-primary") {{indoorHumidityCurrent.values.percent | number:2}}%

  div(class="col-md-8")    
    div(class="chart-wrapper")
      canvas(chart, id="humidityChart", type="Line", options="indoorHumidityReporting.chart.options", data="indoorHumidityReporting.chart.data", width="700", height="350")

  div(class="col-md-4")
    div(class="stats-panel")
      
      div(class="stats-panel-options btn-group btn-group-justified")
        a( ng-click="indoorHumidityStats.getValues('today')", ng-class="{ active: indoorHumidityStats.values.label == 'Today' }", class="btn btn-default") Today
        a( ng-click="indoorHumidityStats.getValues('week')", ng-class="{ active: indoorHumidityStats.values.label == 'Last 7 Days' }", class="btn btn-default") 7 Days
        a( ng-click="indoorHumidityStats.getValues('month')", ng-class="{ active: indoorHumidityStats.values.label == 'Last 30 Days' }", class="btn btn-default") 30 Days
        a( ng-click="indoorHumidityStats.getValues('overall')", ng-class="{ active: indoorHumidityStats.values.label == 'Overall' }", class="btn btn-default") Overall        

      div(ng-if="indoorHumidityStats.loadingValues && !indoorHumidityStats.loadingError", class="alert alert-info")
        strong Calculating stats...
    
      div(ng-if="!indoorHumidityStats.loadingValues && indoorHumidityStats.loadingError", class="alert alert-danger")
        strong Something went wrong...        
    
      div(ng-if="!indoorHumidityStats.loadingValues && !indoorHumidityStats.loadingError", class="stat-wrapper")
        div(class="stat-label") Average:
        div(class="stat-value")
          span(ng-hide="indoorHumidityStats.values.average == 'No data'", class="text-primary") {{indoorHumidityStats.values.average | number:2}}%
          span(ng-show="indoorHumidityStats.values.average == 'No data'", class="text-primary") No data        
      
      hr
    
      div(ng-if="!indoorHumidityStats.loadingValues && !indoorHumidityStats.loadingError", class="stat-wrapper")
        div(class="stat-label") High:
        div(class="stat-value")
          span(ng-hide="indoorHumidityStats.values.max == 'No data'", class="text-primary") {{indoorHumidityStats.values.max | number:2}}%
          span(ng-show="indoorHumidityStats.values.max == 'No data'", class="text-primary") No data        
      
      hr
    
      div(ng-if="!indoorHumidityStats.loadingValues && !indoorHumidityStats.loadingError", class="stat-wrapper")
        div(class="stat-label") Low:
        div(class="stat-value")
          span(ng-hide="indoorHumidityStats.values.min == 'No data'", class="text-primary") {{indoorHumidityStats.values.min | number:2}}%
          span(ng-show="indoorHumidityStats.values.min == 'No data'", class="text-primary") No data
