div(class="row")
  
  div(class="col-md-6")
    div(ng-repeat="a in newsArticles.articles.col_1")
      h3 {{ a.title }}
      div(class="article-img-wrapper")
        img(ng-src="{{ a.image_url }}", class="img-rounded img-responsive")
      div
        p {{ a.summary }}
      div(class="btn-group btn-group-justified")
        a(ng-click="newsArticles.readArticle(a, newsArticles.articles.col_1)", ng-href="{{ a.url }}", target="_blank", class="btn btn-sm btn-success") Read
        a(ng-click="newsArticles.ignoreArticle(a, newsArticles.articles.col_1)", class="btn btn-sm btn-danger") Ignore
      hr
      
  div(class="col-md-6")
    div(ng-repeat="a in newsArticles.articles.col_2")
      h3 {{ a.title }}
      div(class="article-img-wrapper")
        img(ng-src="{{ a.image_url }}", class="img-rounded img-responsive")
      div
        p {{ a.summary }}
      div(class="btn-group btn-group-justified")
        a(ng-click="newsArticles.readArticle(a, newsArticles.articles.col_2)", ng-href="{{ a.url }}", target="_blank", class="btn btn-sm btn-success") Read
        a(ng-click="newsArticles.ignoreArticle(a, newsArticles.articles.col_2)", class="btn btn-sm btn-danger") Ignore        
      hr
