div(class="row")

  div(class="col-md-8")

    div(class="page-header")
      h1 Bus Tracker
    
    div(ng-if="busTracker.status.isLoading && !busTracker.status.receivedError", class="alert alert-info")
      strong Loading CTA data...

    div(ng-if="busTracker.values.stops < 1  && !busTracker.status.isLoading && !busTracker.status.receivedError", class="alert alert-info")
      strong No favorites to display      

    div(ng-if="busTracker.status.isDeleting", class="alert alert-info")
      strong Deleting favorite...
    
    div(ng-if="busTracker.status.receivedError", class="alert alert-danger")
      strong Error getting data from CTA
    
    div(ng-if="!busTracker.status.isLoading && !busTracker.status.receivedError", ng-repeat=" stop in busTracker.values.stops | orderBy:'-title'", class="bus-stop")
      a(ng-click="busTracker.deleteFavorite(stop.favoritesID)", class="btn btn-xs btn-danger pull-right") Delete
      h3(ng-class="{ 'text-primary': stop.predictions.length, 'text-danger': !stop.predictions.length }") {{ stop.title }}
      div(ng-if="stop.predictions.length", class="table-responsive")
        table(class="table")
          thead
            tr
              th Estimated Arrival Time
              th Distance From Stop
              th Status
          tbody
            tr(ng-repeat="p in stop.predictions")
              td {{ p.time }}
              td {{ p.distanceToStop }} feet
              td 
                span(ng-if="p.delayed", class="text-danger") DELAYED
                span(ng-if="!p.delayed", class="text-success") ON TIME

  div(class="col-md-4")
    
    div(id="bus-stop-config", class="panel panel-default")
      
      div(class="panel-heading")
        h3(class="panel-title") Add Favorite Bus Stops
      
      div(class="panel-body")
        div(ng-show="busTrackerConfig.routes.length > 0", class="form-group")
          label Select a route
          select(ng-model="busTrackerConfig.selected.route", ng-change="busTrackerConfig.getDirections()", class="form-control")
            option(ng-repeat="r in busTrackerConfig.routes", value="{{ r.route }}") {{ r.route }}: {{ r.routeName }}
        div(ng-show="busTrackerConfig.directions.length > 0", class="form-group")
          label Pick a direction
          select(ng-model="busTrackerConfig.selected.direction", ng-change="busTrackerConfig.getStops()", class="form-control")
            option(ng-repeat="d in busTrackerConfig.directions", value="{{ d }}") {{ d }}
        div(ng-show="busTrackerConfig.stops.length > 0", class="form-group")
          label Choose your stop
          select(ng-model="busTrackerConfig.selected.stop", class="form-control")
            option(ng-repeat="s in busTrackerConfig.stops", value="{{ s.stopID }}") {{ s.stopName }}
        div(ng-show="busTrackerConfig.selected.stop.length > 0", class="btn-toolbar")
          a(ng-click="busTrackerConfig.saveFavorite()", class="btn btn-primary") Save this favorite
          a(ng-click="busTrackerConfig.clearSelections()", class="btn btn-danger pull-right") Clear selections
