div(class="row")
  fl-loading(data="CurrentWeather.status", template="fully-loaded/weather-loading.html")


//- The weather right now
div(ng-if="!CurrentWeather.status.loading", class="row current-weather")
  div(class="col-md-4")
      skycon(icon="CurrentWeather.forecast.icon", size=300, color="#333")
  div(class="col-md-8")
    p(class="summary") {{ CurrentWeather.forecast.summary }}
    div(class="temperature-section")
      div(class="half-box")
        p Temperature: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.temperature }}&deg; F
      div(class="half-box")
        p Feels Like: 
          span(class="text-primary") 
            strong {{ CurrentWeather.forecast.feelsLike }}&deg; F
    div(class="humidity")
      div(class="whole-box")
        p Humidity: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.humidity * 100 }}%
    div(class="wind-section")
      div(class="half-box")
        p Wind Speed: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.windSpeed }} MPH
      div(class="half-box")  
        p Direction: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.windBearing }}


hr

//- Today's hourly forecast
div(class="row todays-weather")
  div(class="col-md-2", ng-repeat="h in HourlyWeather.forecast.hours | limitTo: 24")
    div(class="hourly-weather")
      h4 @{{ h.dateTime | date: 'shortTime' }}
      skycon(class="hourly-skycon", icon="h.icon", size="50", color="#333")
      p(class="lead") {{ h.summary }}


hr

//- Daily forecast for next week
div(class="row weekly-weather")
  div(class="col-md-3", ng-repeat="d in DailyWeather.forecast.days")
    div(class="daily-weather")
      h3 {{ d.dateTime | date: 'shortDate' }}
      div(class="temperature-data")
        div(class="half-box")
          p(class="lead") High: 
            span(class="text-primary")
              strong {{ d.temperatureMax }}
        div(class="half-box")
          p(class="lead") Low: 
            span(class="text-primary")
              strong {{ d.temperatureMin }}      
      skycon(class="daily-skycon", icon="d.icon", size="100", color="#333")
      p(class="lead") {{ d.summary }}  
