div(class="row current-weather")

    div(class="col-md-4")
        skycon(icon="CurrentWeather.forecast.icon", size=300)
    div(class="col-md-8")
      p(class="summary") {{ CurrentWeather.forecast.summary }}
      div(class="half-box")
        p Temperature: 
          span(class="text-primary") {{ CurrentWeather.forecast.temperature }}&deg; F
      div(class="half-box")
        p Feels Like: 
          span(class="text-primary") {{ CurrentWeather.forecast.feelsLike }}&deg; F
