script(type="text/ng-template", id="fully-loaded/status.html")
  h1 testing

div(class="row")
  fl-status(status="CurrentWeather.status")


//- The weather right now
div(class="row current-weather")
  div(class="col-md-4")
      skycon(icon="CurrentWeather.forecast.icon", size=300, color="#333")
  div(class="col-md-8")
    p(class="summary") {{ CurrentWeather.forecast.summary }}
    div(class="temperature-section")
      div(class="half-box")
        p Temperature: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.temperature }}&deg; F
      div(class="half-box")
        p Feels Like: 
          span(class="text-primary") 
            strong {{ CurrentWeather.forecast.feelsLike }}&deg; F
    div(class="humidity")
      div(class="whole-box")
        p Humidity: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.humidity * 100 }}%
    div(class="wind-section")
      div(class="half-box")
        p Wind Speed: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.windSpeed }} MPH
      div(class="half-box")  
        p Direction: 
          span(class="text-primary")
            strong {{ CurrentWeather.forecast.windBearing }}


//- Today's hourly forecast
div(class="row todays-weather")
  div(class="col-md-12")
    h3 In the next 24 hours...

div(class="row todays-weather")
  div(class="col-md-2", ng-repeat="h in HourlyWeather.forecast.hours | limitTo: 24")
    div(class="hourly-weather")
      h4 @{{ h.dateTime | date: 'shortTime' }}
      skycon(class="hourly-skycon", icon="h.icon", size="50", color="#333")
      p(class="lead") {{ h.summary }}


//- Daily forecast for next week
div(class="row weekly-weather")
  div(class="col-md-12")
    h3 In the next week...

div(class="row weekly-weather")
  div(class="col-md-3", ng-repeat="d in DailyWeather.forecast.days")
    div(class="daily-weather")
      h4 {{ d.dateTime | date: 'shortDate' }}
      skycon(class="daily-skycon", icon="d.icon", size="100", color="#333")



