<html>

<head>
    <title>Holly</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/holly.css">
    <script type="text/javascript" src="bower_components/skycons/skycons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container">

    <div class="row top-buffer">
    </div>

    <div class="row">
        <div class="col-md-4 hidden-xs hidden-sm">
            <canvas id="weather-icon" width="300" height="300"></canvas>
        </div>
        <div class="col-md-8 col-xs-12">
            <h2>{{.Currently.Summary}}</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Temperature:</th>
                        <td>{{.Currently.Temperature}}&deg; F</td>
                    </tr>
                    <tr>
                        <th>Feels Like:</th>
                        <td>{{.Currently.ApparentTemperature}}&deg; F</td>
                    </tr>
                    <tr>
                        <th>Humidity:</th>
                        <td>{{toPercent .Currently.Humidity}}%</td>
                    </tr>
                    <tr>
                        <th>Wind:</th>
                        <td>{{.Currently.WindSpeed}} MPH</td>
                    </tr>
                    <tr>
                        <th>Percipitation:</th>
                        <td>{{toPercent .Currently.PrecipProbability}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
      var skycons = new Skycons();
      skycons.add("weather-icon", "{{.Currently.Icon}}");
      skycons.play();
    </script>

</body>

</html>
