div(class="row")
    div(class="col-lg-12 chart")
      div(class="page-header")
          h1 Yearly Min/Max: &deg;F
      include ./temperature-min-max-menu.jade
      div(ng-if="chart.labels.length == 0", class="well no-data-message") No data available for this chart
      canvas(barchart, resize, data="chart")
