!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        base(href='/')
        title Holly
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/sticky-footer-navbar.css')
        link(rel='stylesheet', href='/css/custom.css')
        script(type="text/javascript", src="/js/lib/jquery-2.0.3.min.js")
        script(type="text/javascript", src="/js/lib/bootstrap.min.js")
    body
        div(id="wrap")
            block body

        div(id="footer")
            div(class="container")
                p(class="text-muted") Put something here
